@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Style/DropDown.css" rel="stylesheet" />
    <link href="~/build/css/custom.css" rel="stylesheet" />
    <script src="~/build/js/index.js"></script>
    <script src="~/Vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="~/Vendors/Chart.js/dist/Chart.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i>Total Sessions </span>
                        <div class="count" id="totalSession">0</div>
                        @*<span class="count_bottom"><i class="green">4% </i> From last Week</span>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Avrage time</span>
                        <div class="count" id="totalAvgTime">0</div>
                        @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i>Total Users </span>
                        <div class="count green" id="totalUsers">0</div>
                        @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i>New users(registrations)  </span>
                        <div class="count" id="totalRegisters">0</div>
                        @*<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Male Users</span>
                        <div class="count" id="totalMaleUsers">0</div>
                        @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Female Users</span>
                        <div class="count" id="totalFemaleUsers">0</div>
                        @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                site

                                <div class="btn-group">
                                    <div class="dropdown">

                                        @Html.DropDownList("siteDdl", ViewBag.sites as IEnumerable<SelectListItem>, "--Select the Site--", new { @class = "form-control", @id = "SiteDdl", @name = "SiteDdl" })



                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" id="ddlSelect">
                                    <option value="0">CurrentDate</option>
                                    <option value="1">Weekly</option>
                                    <option value="2">Monthly</option>
                                    <option value="3">Yearly</option>
                                    <option value="4">Custom</option>
                                </select>
                                <div style="display:none;">
                                    <input type="date" />to<input type="date" />
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Search" onclick="saveToLocalStorage()" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- /top tiles -->

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    <h3>Network Activities- <small>'Area Graph' </small></h3>
                                </div>
                                @*<div class="col-md-6">
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span>April 7, 2017 - May 6, 2017</span> <b class="caret"></b>
                                </div>
                            </div>*@

                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <canvas id="AreaChart" style="margin: 15px 10px 10px 0"></canvas>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />

                <div class="row">


                    @*<div class="container">*@
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <!--panel-->
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>User Demographics</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    @*<table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Male
                                            </th>
                                            <th>
                                                <i class="fa fa-male fa-lg"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>

                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>*@
                                    @*<table style="float:left">
                                    <thead>
                                        <tr>
                                            <th>
                                                Male
                                            </th>
                                            <th>
                                                <i class="fa fa-female fa-lg"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>*@
                                    @*<div class="col-md-6">
                                        <label id="percentageMale"></label>
                                        Male
                                        <i class="fa fa-male fa-lg"></i>
                                    </div>
                                    <div class="col-md-6">
                                        <label id="percentageFemale"></label>
                                        Female
                                        <i class="fa fa-female fa-lg"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                           13++
                                        </div>
                                        <div class="col-md-3">
                                        17++   </div>
                                        <div class="col-md-3">
                                            13++
                                        </div>
                                        <div class="col-md-3">
                                            17++
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            13++
                                        </div>
                                        <div class="col-md-3">
                                            17++
                                        </div>
                                    </div>*@
                                    @*<div class="col-md-6">
                                    <div class="col-md-3">
                                        13-17<div><label>20</label></div>
                                    </div>
                                    <div class="col-md-3">
                                        18-24<div><label>30</label></div>
                                    </div>
                                </div>*@
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="x_panel tile fixed_height_320 overflow_hidden">
                            <div class="x_title">
                                <h2>Device Usage</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="" style="width:100%">
                                    <tr>
                                        <th style="width:37%;">
                                            <p>Top 4</p>
                                        </th>
                                        <th style="width:50%">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <p class="">Device</p>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <p class="">Progress</p>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <canvas id="PieChart" style="margin: 0x 0px 0px 0px;height:100px;width:150px;" height="100px" width="200px"></canvas>
                                        </td>
                                        <td>
                                            <table class="tile_info">
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square blue"></i>IOS</p>
                                                    </td>
                                                    <td id="rowIOS"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square green"></i>Android </p>
                                                    </td>
                                                    <td id="rowAndroid"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square aero"></i>Window </p>
                                                    </td>
                                                    <td id="rowWindow"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square red"></i>Others </p>
                                                    </td>
                                                    <td id="rowOthers"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>Network Usage</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div>
                                <div>
                                    <canvas id="NetworkPieChart"></canvas>
                                </div>
                            </div>
                            <div class="x_title">
                                <h2>Total Bandwidth</h2>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
    </div>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
        <script src="~/Scripts/CustomGraph.js"></script>
    <script>
        

        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-23581568-13', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        function getComp(id) {
            $.getJSON("/Admin/GetCompany?orgId=" + id, function (data) {
                //var items = [];
                $.each(data, function (key, value) {
                    //document.getElementById("comp").innerHTML=this.text;
                    //items=document.getElementById("comp").innerHTML;
                    //items.push("<li><a tabindex='-1' href='#'"+ this.text + "</a>" +"</li>");
                    $('#compAppend').append('<li><a tabindex="-1" href="#">' + this.text + '</a></li>');
                });
            });
        }
    </script>

</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        navigation();

    })

</script>
