<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CPAdminDefaultConnection" value="Data Source=.\sqlexpress;Initial Catalog=CPDB-25thJuly;Integrated Security=true;connect timeout=900;" />
    <add key="Discovery1" value="Data Source=.\sqlexpress;Initial Catalog=LocationDbApril;Integrated Security=true;connect timeout=900;" />
    <add key="Discovery2" value="Data Source=.\sqlexpress;Initial Catalog=LocationDBMay;Integrated Security=true;connect timeout=900;" />
    <add key="RTLSDefaultConnection" value="Data Source=.\sqlexpress;Initial Catalog=RTLSNEWDB;Integrated Security=true;connect timeout=900;" />
    <add key="radiusConnectionString" value="Server=122.166.202.201; Port = 3306; Database = radius; Uid=root;Pwd=p1s4Bmn" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>