<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>

    <add name="A8PlatFormDefaultConnection" connectionString="Data Source=.;Initial Catalog=A8PlatForm;Integrated Security=true;connect timeout=900;" providerName="System.Data.SqlClient" />
    <!--<add name="AdminDbEntities" connectionString="metadata=res://*/Models.a8platformnewDb.csdl|res://*/Models.a8platformnewDb.ssdl|res://*/Models.a8platformnewDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.2;Initial Catalog=a8platformnew;Uid=root;Pwd=p1s4Bmn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="CPAdminDefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=A8Platform;Integrated Security=true;connect timeout=900;" providerName="System.Data.SqlClient" />
    <add name="CPAdminDbEntities" connectionString="metadata=res://*/Models.CPDB.csdl|res://*/Models.A8Platform.ssdl|res://*/Models.A8Platform.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=A8Platform;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="Discovery1" connectionString="Data Source=.;Initial Catalog=Discovery1LocationServices;Integrated Security=true;connect timeout=900;" providerName="System.Data.SqlClient" />
    <!--<add name="Discovery1DbEntities" connectionString="metadata=res://*/Models.LocationDashBoard.csdl|res://*/Models.LocationDashBoard.ssdl|res://*/Models.LocationDashBoard.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=LocationDashBoard;Integrated Security=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="Discovery2" connectionString="Data Source=.;Initial Catalog=Discovery2LocationServices;Integrated Security=true;connect timeout=900;" providerName="System.Data.SqlClient" />
    <!--<add name="Discovery2DbEntities" connectionString="metadata=res://*/Models.ThomsonDiscovery2.csdl|res://*/Models.ThomsonDiscovery2.ssdl|res://*/Models.ThomsonDiscovery2.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=LocationDBMay;Integrated Security=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="RTLSDefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=RTLSNEWDB;Integrated Security=true;connect timeout=900;" providerName="System.Data.SqlClient" />
    <add name="RTLSDbEntities" connectionString="metadata=res://*/Models.RTLS.csdl|res://*/Models.RTLS.ssdl|res://*/Models.RTLS.msl;provider=System.Data.SqlClient;provider connection string=&quot;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=RTLSNEWDB;Integrated Security=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="radiusConnectionString" connectionString="Server=122.166.202.201; Port = 3306; Database = radius; Uid=root;Pwd=p1s4Bmn" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>